[submodule "Evaluacion2020-1"]
	path = Evaluacion2020-1
	url = https://github.com/ComputationalMethods/Evaluacion2020-1
[submodule "Evaluacion_2020-2"]
	path = Evaluacion_2020-2
	url = git@github.com:ComputationalMethods/Evaluacion_2020-2.git
